/target

# Auto Claude data directory
.auto-claude/
.auto-claude*
.claude_settings.json
Auto\ Run\ Docs/
*.trs
.serena
.direnv

# Dolt database files (added by bd init)
.dolt/
*.db

.beads
.claude*
.rtk
node_modules
.ralph
.mcp.json
.agents
